body{
background-color:aquamarine;
}
p{
width:200px;
border:3px dashed blue;
}
#value1{
	width:200px;
    border: 3px dashed blue;
	
	
}

#celtbox2{
width:200px;
border: 3px dashed red;
font-family:cursive;
}